/.idea/
.idea
.vscode
.classpath
.gitignore.swp
.project
.settings
/.java-version
.eslintcache
.cache
scalastyle-output.xml
.idea/*
./bobmodes/*
!.idea/vcs.xml
.metadata
.version.properties
filter.properties
logs.zip
.mvn/wrapper/*.jar
.mvn/maven.config
target
tmp
target
bin
*.class
*.iml
*.swp
*.jar
*.zip
*.log
*.pyc
.DS_Store
build-target
atlassian-ide-plugin.xml
out/
/docs/api
tools/japicmp-output
