/.idea/
.idea
.vscode
.classpath
.gitignore.swp
.project
.settings
target
bin
/flink.http.connector.iml
/src/main/flink-http-connector.iml
/src/main/main.iml
/src/test/test.iml
/flink-http-connector.iml
/dependency-reduced-pom.xml
/.java-version
