name: Build

on:
  push:
    branches:
      - 'main'
      - 'release/**'
  pull_request:

env:
  MAVEN_CLI_OPTS: "--batch-mode"
  MAVEN_OPTS: "-Dmaven.repo.local=.m2/repository"
  JAVA_ADDITIONAL_OPTS: "-Dorg.slf4j.simpleLogger.showDateTime=true -Dorg.slf4j.simpleLogger.dateTimeFormat=HH:mm:ss,SSS"
  FF_USE_FASTZIP: "true"

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        flink: [ "1.16.3", "1.17.2", "1.18.1"]
    steps:
      - uses: actions/checkout@v3

      - name: Set up JDK 11
        uses: actions/setup-java@v3
        with:
          java-version: '11'
          distribution: 'adopt'
          cache: maven

      - name: Build for Flink ${{ matrix.flink }}
        run: mvn $MAVEN_CLI_OPTS $JAVA_ADDITIONAL_OPTS -Dflink.version=${{ matrix.flink }} compile

      - name: Tests for Flink ${{ matrix.flink }}
        run: |
          mvn $MAVEN_CLI_OPTS $JAVA_ADDITIONAL_OPTS -Dflink.version=${{ matrix.flink }} test integration-test

      - name: Test JavaDoc
        run: mvn $MAVEN_CLI_OPTS $JAVA_ADDITIONAL_OPTS javadoc:javadoc
        if: startsWith(matrix.flink, '1.18')

      - name: Add coverage to PR
        id: jacoco
        uses: madrapps/jacoco-report@v1.7.1
        with:
          paths: ${{ github.workspace }}/target/site/jacoco/jacoco.xml
          token: ${{ secrets.GITHUB_TOKEN }}
          min-coverage-overall: 40
          min-coverage-changed-files: 60
        if: startsWith(matrix.flink, '1.18') && github.event.pull_request.head.repo.fork == false
