name: Build

on:
  push:
    branches:
      - 'main'
      - 'release/**'
  pull_request:

env:
  MAVEN_CLI_OPTS: "--batch-mode"
  MAVEN_OPTS: "-Dmaven.repo.local=.m2/repository"
  JAVA_ADDITIONAL_OPTS: "-Dorg.slf4j.simpleLogger.showDateTime=true -Dorg.slf4j.simpleLogger.dateTimeFormat=HH:mm:ss,SSS"
  FF_USE_FASTZIP: "true"

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Set up JDK 11
        uses: actions/setup-java@v3
        with:
          java-version: '11'
          distribution: 'adopt'
          cache: maven

      - name: Build
        run: mvn $MAVEN_CLI_OPTS $JAVA_ADDITIONAL_OPTS compile

      - name: Tests
        run: |
          mvn $MAVEN_CLI_OPTS $JAVA_ADDITIONAL_OPTS test integration-test
          cat target/site/jacoco/index.html | grep -o 'Total[^%]*%'

      - name: Add coverage to PR
        id: jacoco
        uses: madrapps/jacoco-report@v1.2
        if: github.event_name == 'pull_request'
        with:
          paths: ${{ github.workspace }}/target/site/jacoco/jacoco.xml
          token: ${{ secrets.GITHUB_TOKEN }}
          min-coverage-overall: 40
          min-coverage-changed-files: 60
