name: Publish

on:
  release:
    types: [published]

env:
  MAVEN_CLI_OPTS: "--batch-mode"
  MAVEN_OPTS: "-Dmaven.repo.local=.m2/repository"
  JAVA_ADDITIONAL_OPTS: "-Dorg.slf4j.simpleLogger.showDateTime=true -Dorg.slf4j.simpleLogger.dateTimeFormat=HH:mm:ss,SSS"
  FF_USE_FASTZIP: "true"

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - uses: actions/checkout@v4

      - name: Check release tag match  # ... and fail fast if they do not
        run: diff <(echo "${{ github.ref_name }}") <(echo "$(mvn -B help:evaluate -Dexpression=project.version -q -DforceStdout)")

      - name: Set up JDK 11
        uses: actions/setup-java@v4
        with:
          java-version: '11'
          distribution: 'temurin'
          cache: maven

      - name: Build
        run: mvn $MAVEN_CLI_OPTS $JAVA_ADDITIONAL_OPTS compile

      - name: Tests
        run: |
          mvn $MAVEN_CLI_OPTS $JAVA_ADDITIONAL_OPTS test integration-test

      - name: Set up Apache Maven Central
        uses: actions/setup-java@v4
        with:
          java-version: '11'
          distribution: 'temurin'
          server-id: ossrh
          server-username: testMe
          server-password: testMe
          gpg-private-key: ${{ secrets.GPG_PRIVATE_KEY }}
          gpg-passphrase: GPG_PRIVATE_KEY_PASSWORD

      - name: Publish to Apache Maven Central
        if: github.event.release
        run: mvn deploy -P release
        env:
          MAVEN_USERNAME: ${{ secrets.SONATYPE_TOKEN_USERNAME }}
          MAVEN_PASSWORD: ${{ secrets.SONATYPE_TOKEN_PASSWORD }}
          GPG_PRIVATE_KEY_PASSWORD: ${{ secrets.GPG_PRIVATE_KEY_PASSWORD }}
